# PBS configuration
# If submitting to a different project to your default uncomment line below 
# and change project code as appropriate
project: e14
queue: normal
walltime: 4:00:00
jobname: 025_ENFull
ncpus: 1824

# Force payu to always find, and save, files in this short (or scratch) project directory
#shortpath: /scratch/e14

# Model configuration
name: common
model: access-om2
input: /g/data/ik11/inputs/access-om2/input_20200530/common_025deg_jra55
submodels:
    - name: atmosphere
      model: yatm
      exe: /g/data/ik11/inputs/access-om2/bin/yatm_0ab7295.exe
      input: 
            - /g/data/ik11/inputs/access-om2/input_20200530/yatm_025deg
            - /g/data/ua8/JRA55-do/RYF/v1-3/
#            - /g/data/e14/mv7494/JRA55-do-1-3/time_series/
            - /g/data/ik11/inputs/JRA-55/RYF/v1-4
      ncpus: 1

    - name: ocean
      model: mom
      exe: /g/data/ik11/inputs/access-om2/bin/fms_ACCESS-OM-BGC_6256fdc_libaccessom2_0ab7295.x
      input: /g/data/ik11/inputs/access-om2/input_20200530/mom_025deg
      ncpus: 1455

    - name: ice
      model: cice5
      exe: /g/data/ik11/inputs/access-om2/bin/cice_auscom_1440x1080_480p_2572851_libaccessom2_0ab7295.exe
      input: /g/data/ik11/inputs/access-om2/input_20200530/cice_025deg
      ncpus: 361

# Collation
collate:
  restart: true
  mpi: true
  walltime: 1:00:00
  mem: 16GB
  ncpus: 4
  queue: normal
  exe: /g/data/ik11/inputs/access-om2/bin/mppnccombine-fast

# Misc
runlog: true
stacksize: unlimited
restart_freq: 1  # use tidy_restarts.py instead
mpirun: --mca io ompio --mca io_ompio_num_aggregators 1
qsub_flags: -W umask=027
env:
    UCX_LOG_LEVEL: 'error'
# set number of cores per node (28 for normalbw, 48 for normal on gadi)
platform:
    nodesize: 48
# sweep and resubmit on specific errors - see https://github.com/payu-org/payu/issues/241#issuecomment-610739771
userscripts:
    error: resub.sh
    run: rm -f resubmit.count

# DANGER! Do not uncomment this without checking the script is syncing to the correct location!
# postscript: sync_data.sh